# This workflow will build and test gbsplay in various configurations on Linux.

name: Linux Build

on:
  push:
  pull_request:
    types: [opened]
  schedule:
    - cron: '23 4 5 * *'

jobs:
  build-linux:
    name: Build and test on Linux

    runs-on: ubuntu-latest

    strategy:
      matrix:
        compiler: [gcc, clang]
        flags: ['', --disable-i18n --disable-zlib --prefix=/tmp/gbsplay, --enable-sharedlibgbs, --with-xgbsplay --enable-verbosebuild]

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libasound2-dev libpulse-dev libaudio-dev libx11-dev libsdl2-dev
    - name: Install valgrind
      if: ${{ matrix.flags == '' }}
      run: |
        sudo apt-get --no-install-recommends install valgrind
    - name: Build and test
      env:
        CC: ${{ matrix.compiler }}
        CONFIGURE_FLAGS: ${{ matrix.flags }}
      run: |
        make
    - name: Check activated plugouts
      run: |
        ./check_plugouts.sh alsa pulse devdsp nas sdl
    - name: Check build flags
      run: |
        ./check_buildflags.sh ${{ matrix.flags }}
    - name: Check with valgrind
      if: ${{ matrix.flags == '' }}
      run: |
        valgrind --error-exitcode=1 make test
    - name: Check install and uninstall targets
      run: |
        # add the sudo here and not inside the script
        # to prevent a mess when somebody runs the script locally
        sudo ./check_install_uninstall.sh
    - name: Dump configure on error
      if: ${{ failure() }}
      run: |
        bash -x -v configure && cat config.err
