[Desktop Entry]
Name=xgbsplay
NoDisplay=true
Comment=X11 Gameboy sound player
Exec=xgbsplay %f
Icon=xgbsplay
Terminal=true
Type=Application
Categories=AudioVideo;AudioVideoEditing
Keywords=gameboy;
MimeType=audio/prs.gbs;
